@import 'src/styles/variables';
button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background-color: $accent-color;
    color: $background-color;
    cursor: pointer;

    &:disabled {
        background-color: lighten($text-color, .2);
        cursor: not-allowed;
    }
}